body{
    background-image: url("../img/Dirt_\(texture\)_JE2_BE2.png");
}
#title{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
#smp{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
