body{
    background-image: url("../img/Block_of_Diamond_\(texture\)_JE4_BE3.png");
}
#title{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
#smp{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
