body {
    background-image:  url("../img/Dirt_\(texture\)_JE2_BE2.png");
    position: relative;
  }
  #myScrollspy {
    position: -fixed;
    background-color: aqua;
    
  }
  div.col-sm-9 div {
    height: 250px;
    font-size: 28px;
  }
  @media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8, #section9, #section10, #section11, #section12, #section13  {
      margin-left: 150px;
    }
  }
