body{
    background-color: #000000;
    font-family: 'Minecraft', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-repeat: repeat;
    background-size: 10%;
    /* locking the backround so it cant be scroled */
    background-attachment: fixed;
}
@font-face {
    font-family: 'Minecraft';
    src: url("../fonts/minecraft-font/MinecraftRegular-Bmg3.otf") format('truetype');
}



header a {
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    /* align all a on the same horisontal line and with equal spasing*/
    display: inline-block;
    margin: 0 10px;
    padding: 5px;
}

header a:hover {
    text-decoration: underline;
}

li {
    font-size: 20px;
    line-height: 1.5;
}
p {
    font-size: 20px;
}   

/* align the logo hovering slighty over the header and vericly senterd using left 50%*/
.logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    width: 800px;
}



.container {
    width: 80%;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 40px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: black 0px 0px 10px 5px;

    
    background-repeat: repeat;
    background-size: 10%;
}
.text_link{
    color: #00c8ff;
    text-decoration: none;
}


header {
    padding: 2px 0;
    text-align: center;
    border-radius: 10px;
    background-image: url("../img/Nether_Portal_\(texture\)_JE2-a1.gif");
    background-repeat: repeat;
    background-size: 10%;
    box-shadow: rgb(34, 0, 49) 0px 0px 10px 5px;
}


#selectedPage {
    color: #16001a;
}